/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background: #ffffff;
  --item-background: rgb(42, 104, 146);
  --item-background-hover: rgba(0, 0, 0, 0.151);
  --text: #000000;
  --movie-background: #f8f8f8;

  --pos: green;
  --neg: red;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background);
}

*,
*::before,
*::after {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./bg.jpg');
}
