@import './base.css';

#app {
  color: var(--text);
  font-weight: normal;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--background);
}

.pos {
  color: var(--pos);
}

.neg {
  color: var(--neg);
}

@media (min-width: 1024px) {
}
